<div class="container">
  <div class="searchForm-and-results">
    <form [formGroup]="searchForm">
      <div class="input-group">
        <input class="form-control" formControlName="search" autocomplete="off" />
        <div class="input-group-append">
          <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-search"></i></span>
        </div>
      </div>
    </form>
    <ul class="results">
      <li class="result"></li>
    </ul>
  </div>
  <track-list></track-list>
</div>