.container {
    margin-top: 30px;
}

.searchForm-and-results {
    position: relative;
}

.results {
    background: #fff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
    padding: 20px 10px;
    border-radius: 0 0 5px 5px;
    margin: 0;
    list-style: none;
    position: absolute;
    width: 100%;
    top: 100%;
    display: none;
}