<div class="container">
  <div class="searchForm-container">
    <form [formGroup]="searchForm">
      <div class="input-group">
        <input class="form-control" formControlName="search" autocomplete="off" placeholder="find out the lyrics" />
        <div class="input-group-append">
          <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-search"></i></span>
        </div>
      </div>
    </form>
    <ul class="search-results">
      <li class="search-result" *ngFor="let searchResult of searchResults">
        {{searchResult.artist_name}}, {{searchResult.album_name}} - {{searchResult.track_name}}
      </li>
    </ul>
  </div>
  <br />
  <hr />
  <track-list></track-list>
</div>