<div class="sortBy">
  <i class="fas fa-filter"></i>
  &nbsp;
  <span>SORT BY:</span>
  &nbsp;
  <form [formGroup]="sortByForm">
    <select formControlName="sortBy">
      <option *ngFor="let sortByOption of sortByOptions" [ngValue]="sortByOption">
        {{sortByOption.value}}
      </option>
    </select>
  </form>
</div>
<ul class="track-list">
  <li class="track-list-item" *ngFor="let trackListItem of trackList">
    <div class="track-list-item-cover" [style.background-image]="getTrackListItemCover(trackListItem)"></div>
    <div class="track-list-item-bottom">
      <div class="track-list-item-details">
        <div class="track-list-item-artist-name">
          {{trackListItem.artist_name}}
        </div>
        <div class="track-list-item-track-name">
          {{trackListItem.track_name}}
        </div>
        <div class="track-list-item-album-name">
          {{trackListItem.album.title}}
        </div>
      </div>
      <div class="track-list-item-delete"></div>
    </div>
  </li>
</ul>