.sortBy {
    display: flex;
    align-items: center;
}

.sortBy i {
    color: #FF3C58;
}

.track-list {
    list-style: none;
    display: flex;
    margin-top: 30px;
    padding: 0;
}

.track-list .track-list-item {
    cursor: pointer;
}

.track-list .track-list-item .track-list-item-cover {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 250px;
    min-height: 250px;
}